{% if page.banner %}
	<div id="banner">
		{% assign banner_path = "/assets/images/banners/" %}
		<video autoplay loop muted playsinline poster="{{ banner_path | append: page.banner | append: '.webp' | relative_url }}">
			<source src="{{ banner_path | append: page.banner | append: '.webm' | relative_url }}" type="video/webm">
			<source src="{{ banner_path | append: page.banner | append: '.mp4' | relative_url }}" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<script>
		function scrollUpdate() {
			if (document.getElementById("banner") != null) {  /* Required for Turbolinks */
				document.getElementsByTagName("nav")[0].id = this.scrollY > 0 ? "scrolled" : "";
			}
		}

		window.addEventListener("scroll", scrollUpdate, false);
	</script>
{% else %}
	<div style="height: 105px"></div>
{% endif %}