{% if page.banner %}
	{% assign banner_path = "/assets/images/banners/" %}
	<video id="banner" autoplay loop muted playsinline poster="{{ banner_path | append: page.banner | append: '.webp' | relative_url }}">
		<source src="{{ banner_path | append: page.banner | append: '.webm' | relative_url }}" type="video/webm">
		<source src="{{ banner_path | append: page.banner | append: '.mp4' | relative_url }}" type="video/mp4"> <!-- Fallback for Safari -->
		Your browser does not support the video tag.
	</video>

	<!-- Fixes the video autoplaying issues in Safari -->
	<script>
		/* From https://shaktisinghcheema.com/how-to-autoplay-video-on-mobile-devices-on-low-power-mode/ */
		Object.defineProperty(HTMLMediaElement.prototype, 'playing', {
			get: function () {
				return !!(this.currentTime > 0 && !this.paused && !this.ended && this.readyState > 2);
			}
		});

		document.querySelector('body').addEventListener('click touchstart', function () {
			const videoElement = document.getElementById('home_video');
			if (!videoElement.playing) {
				videoElement.play();
			}
		});
	</script>

	<!-- Updates scrolling attribute to change nav bar opacity -->
	<script>
		function scrollUpdate() {
			if (document.getElementById("banner") != null) {  /* Required for Turbolinks */
				document.getElementsByTagName("nav")[0].id = this.scrollY > 0 ? "scrolled" : "";
			}
		}

		window.addEventListener("scroll", scrollUpdate, false);
	</script>
{% else %}
	<div style="height: 105px"></div>
{% endif %}