---
---

// Color themes
{% for color_theme in site.data.themes.color_themes %}
  {% if color_theme.name == site.data.brand.color_theme %}
    $foreground-color: {{ color_theme.foreground_color }};
    $background-color: {{ color_theme.background_color }};
    $transparent-nav-bar-text-color: {{ color_theme.transparent_nav_bar_text_color }};
  {% endif %}
{% endfor %}

// Font themes
{% for font_theme in site.data.themes.font_themes %}
  {% if font_theme.name == site.data.brand.font_theme %}
    {% if font_theme.font_url %}
      @import url({{ font_theme.font_url }});
    {% endif %}

    $title-font: {{ font_theme.title_font }};
    $body-font: {{ font_theme.body_font }};
  {% endif %}
{% endfor %}

$accent-color: {{ site.data.brand.accent_color }};
$opacity: 0.3;
$border-radius: 10px;

@import "main";
@import "nav";
@import "reviews";
@import "openingTimes";
@import "socials";
@import "gmap";
@import "gallery";
@import "menu";

@media only screen and (max-width: 480pt) { /* Mobile */
  @import "main.mobile";
  @import "nav.mobile";
  @import "reviews.mobile";
  @import "gmap.mobile";
  @import "gallery.mobile";
  @import "menu.mobile";
}