---
---
// Color themes
{% if site.data.brand.color_theme == "light" %}
  $foreground-color: black;
  $background-color: #eeeeee;
  $transparent-nav-bar-text-color: #eeeeee;
{% elsif site.data.brand.color_theme == "dark" %}
  $foreground-color: white;
  $background-color: #111111;
  $transparent-nav-bar-text-color: white;
{% elsif site.data.brand.color_theme == "pink" %}
  $foreground-color: black;
  $background-color: #e2dbdd;
  $transparent-nav-bar-text-color: #e2dbdd;
{% endif %}

// Font themes
{% if site.data.brand.font_theme == "futuristic" %}
  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
  $title-font: "Red Hat Display", "Century Gothic", Futura, "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  $body-font: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
{% elsif site.data.brand.font_theme == "rustic" %}
  @import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
  $title-font: Condiment, "Brush Script MT", cursive;
  $body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
{% elsif site.data.brand.font_theme == "cursive" %}
  @import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
  $title-font: Cookie, "Brush Script MT", cursive;
  $body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
{% elsif site.data.brand.font_theme == "formal" %}
  $title-font: Georgia, "Times New Roman", serif;
  $body-font: "Helvetica Neue", Helvetica, Arial, serif;
{% endif %}

$accent-color: {{ site.data.brand.accent_color }};
$opacity: 0.3;
$border-radius: 10px;

@import "main";
@import "nav";
@import "reviews";
@import "openingTimes";
@import "socials";
@import "gmap";
@import "gallery";
@import "menu";

@media only screen and (max-width: 480pt) { /* Mobile */
  @import "nav.mobile";
  @import "reviews.mobile";
  @import "gmap.mobile";
  @import "gallery.mobile";
  @import "menu.mobile";
}